*{
    box-sizing: border-box;
}

.questionCon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80.5vh;
}

.quest{
    border: 2px solid black;
    border-radius: 1rem;
    height: 6rem;
    margin: 1.6rem;
}

.questn{
    text-align: start;
    padding: 7px;
}

.curQues{
    border: 2px solid black;
    width: 50%;
    padding: 1rem;
    border-radius: 1rem;
}

.options{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
}

.option{
    width: 45%;
    padding: 1rem;
    background-color: purple;
    color: white;
    font-weight: 600;
    border-radius: 1rem;
    cursor: pointer;
}

.option:hover{
    background-color: darkblue;
}

.extBtns{
    display: flex;
    justify-content: space-between;
    margin: 1.8rem;
}

.extBtn{
    width: 250%;
    padding: 9px;
    background-color: red;
    font-weight: 900;
    border-radius: .7rem;
    cursor: pointer;
    color: white;
}

.extBtn2{
    width: 15%;
    padding: 9px;
    background-color: darkblue;
    font-weight: 900;
    border-radius: .7rem;
    color: white;
    cursor: pointer;
}
.score{
    margin-left: 45%;
}

.count{
    background-color: yellow;
    height:3rem;
    width: 3rem;
    border-radius: 50%;
}


@media only screen and (max-width: 600px) {
    html{
        font-size: 13px;
    }

    .curQues{
        border: 2px solid black;
        width: 90%;
        padding: 1rem;
        border-radius: 1rem;
    }

    .options{
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
        flex-wrap: wrap;
        margin: 1rem;

    }

    .option{
        height: 4rem;
        width: 98%;
    }

    .quest{
        height: 7rem;
        margin: .8rem;
    }

    .extBtn{
        width: 200%;
    }

    .extBtn2{
        width: 34%;
    }
  }