.header{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 1rem 0 1rem;
    background-color:aquamarine;
}

.icon{
    font-size: 3.2rem;
}

.mode{
    border: none;
    background-color: aquamarine;
    cursor: pointer;
}

.rightIcons{
    width: 15%;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 688px) {
    body{
        font-size: 13px;
    }

    .rightIcons{
        width: 35%;
        display: flex;
        justify-content: space-between;
    }
  }
  
