.logo{
    box-sizing: border-box;
    border: 1px solid Black;
    display: flex;
    justify-content: space-around;
    /* background-color: aqua; */
}
.main-img{
    width: 50%;
    height: 80vh;
    box-sizing: border-boxx;
}
.mimg{
    height: 100%;
    width: 100%;
    margin: 10px;
    object-fit: contain;
    /* background-color: blueviolet; */
    margin-right: 5rem;
}
.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start{
    width: 7rem;
    border-radius: 1.3rem;
    padding: .5rem;
    background-color:lightseagreen;
    cursor: pointer;
}